body {
    font-family: 'Questrial' !important;
    color: #45575E !important;
    padding-top: 5vh;
}

h1 {
    font-family: 'Paytone One' !important;
}

img {
    display: block !important;
    margin: auto !important;
}

.red {
    color: #EA5458;
}

.btn-primary {
    background-color: #EA5458 !important;
    border-color: #EA5458 !important;
}

.btn-secondary {
    background-color: #FEF2F0 !important;
    border-color: #FEF2F0 !important;
    color: #EA5458 !important;
}